@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes fly-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .font-serif {
    font-family: 'Playfair Display', serif;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(110, 17, 176), #f292ff);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform: translateY(0);
    transition: transform 1s ease;
    box-shadow: 0 25px 50px -12px rgba(110, 17, 176, 1);
}

.loader.is-flying-out {
    transform: translateY(105%);
    box-shadow: 0 -25px 50px -12px rgba(110, 17, 176, 0.75);
}

.loader.is-offscreen-top {
    transform: translateY(-100%);
}

.loader.no-transition {
    transition: none;
}

.loader.is-hidden {
    display: none;
}

.loader-hidden-final {
    display: none;
}

.loader-text {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A78BFA, 0 0 40px #A78BFA;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #A78BFA, 0 0 40px #A78BFA, 0 0 50px #A78BFA;
    }
}

main {
    transition: opacity 0.5s ease-in;
    flex-grow: 1;
}

.animate-fade-in {
    opacity: 1;
}

.transform {
    transition: transform 0.3s ease-out;
}

.transform:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .loader-text {
        font-size: 2rem;
        text-align: center;
    }
}